:root {
  --color-background-header: #3d3d3d;
  --color-background-dark: #383838;
  --color-background-footer: #3d3d3d;
  --color-background-dark-hover: #474747;
  --color-background-dark-hover-transp: #8a888833;
  --color-border: #5c606d;
  --color-headline: #58a9eb;
  --color-headline2: #d5d36c;
  --color-headline3: #06b300;
  --color-headline4: #f5f4f396;
  --color-text: #f3f3f3;
  --color-head-bracket: #f5f4f396;
  --color-link: #b8610f;
  --color-link-transp: #ff7b008c;
  --font: "IBM", monospace;
  --line-height: 3ch;
  --font-scale: 0.4vw;
  --border-radius: 2px;
  --size-margin-left: 5%;
  --size-distance: 2vw;
  --size-navbar-height: 80px;
  --size-navbar-height-mobile: 60px;
  --size-media-screen-max-width: 700px;
  --color-background-middle: #f5f4f396;
  --color-background-light: #f3f3f3;
  --color-main: #f3f3f3;
  --color-second: #021e30;
}

body {
  height: 100vh;
  background-color: var(--color-background-dark);
  color: var(--color-text);
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: var(--line-height);
  letter-spacing: 0.05rem;
  scrollbar-gutter: stable !important;
}
